$font: 'Helvetica';
$light-grey: #e6e5e5;
$dark-grey: #7f8c8d;
$blue: #3498db;
$red: #e74c3c;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font, sans-serif;
}

.home {
  margin: 0 auto;
  padding-top: 40vh;
  transition-delay: 3s;
  -webkit-transition-delay: 3s;
  transition: 1.5s all ease;
  width: 500px;
}

.home.searched {
  padding-top: 20px;
  transition: 0.5s all ease;
}

.feed {
  margin-top: 20px;

  & .posts > p {
    margin-bottom: 20px;
  }

  & .oops > p {
    color: $red;
  }
}

.post {
  border-radius: 3px;
  border: 1px solid $light-grey;
  box-shadow: 1px 1px 2px 0px $light-grey;
  display: flex;
  flex-direction: row;
  height: 100px;
  list-style-type: none;
  margin-bottom: 10px;
  padding: 10px;

  & .post-image {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    outline: 0;
    width: 100px;
  }

  & .post-content {
    font-size: 10pt;
    flex: 3;
    margin-left: 10px;
    position: relative;

    & .post-title {
      color: $blue;
      font-size: 12pt;
      text-decoration: none;
    }

    & .post-author {
      color: $dark-grey;
    }

    & .post-meta {
      bottom: 0;
      position: absolute;
    }
  }
}

.inputField {
  border: 0;
  border-bottom: 1px solid $dark-grey;
  color: $blue;
  font-size: 12pt;
  margin-bottom: 10px;
  padding-bottom: 8px;
  padding-top: 10px;
  width: 100%;

  &.hasError {
    border-bottom: 2px solid #e74c3c;
  }
}

.inputField:focus {
  border-bottom: 2px solid $blue;
  outline: 0;
}


// Throbber design by Tobias Ahlin - http://tobiasahlin.com/spinkit/
.throbber {
  margin: 50px auto 0;
  text-align: center;
  width: 100px;

  & .ball {
    animation: throbber-bounce  1s infinite ease-in-out both;
    -webkit-animation: throbber-bounce  1s infinite ease-in-out both;
    background-color: $blue;
    border-radius: 100%;
    display: inline-block;
    height: 15px;
    margin-right: 5px;
    width: 15px;
  }

  & .ball1 {
    animation-delay: -0.32s;
    -webkit-animation-delay: -0.32s;
  }

  & .ball2 {
    animation-delay: -0.16s;
    -webkit-animation-delay: -0.16s;
  }
}

@-webkit-keyframes throbber-bounce {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes throbber-bounce {
  0%, 80%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
